@import "bootstrap-custom";
@import "font-awesome";

/**
 *  Valiables
 *
 */
$btn-facebook-color:              #fff !default;
$btn-facebook-bg:                 #5572ab !default;
$btn-facebook-border:             $btn-facebook-bg !default;

/**
 *  Common Settings
 *
 */
.btn-facebook {
  @include button-variant($btn-facebook-color, $btn-facebook-bg, $btn-facebook-border);
}
.divider {
  margin: 20px 0;
  border-top: solid 1px $modal-content-border-color;
}

#signup {
  .modal {
    display: block;
    position: relative;
  }
  .modal-dialog {
    max-width: 400px;
  }
}

/**
 *  Footer
 *
 */
.wrapper {
  min-height: calc(100vh - 120px);
}
.footer {
  height: 120px;
  padding-top: 30px;
  padding-bottom: 30px;
}